<footer id="footer">
	{% if page.url != '/offline/' %}
	<ul>
		<li>
			<h3>Articles</h3>
		</li>
		<li>
			<a href="{{ site.posts[0].url }}">{{ site.posts[0].title }}</a>
		</li>
		<li>
			<a href="{{ site.posts[1].url }}">{{ site.posts[1].title }}</a>
		</li>
		<li>
			<a href="{{ site.posts[2].url }}">{{ site.posts[2].title }}</a>
		</li>
		<li>
			<a href="/archive/">Article archive</a>
		</li>
	</ul>

	<ul>
		<li>
			<h3>FED</h3>
		</li>
		<li>
			<a href="/2015/08/19/my-preferred-front-end-development-process/">My FED process</a>
		</li>
		<li>
			<a href="/2020/01/03/my-accessibility-toolbox-updated/">My Accessibility toolbox</a>
		</li>
		<li>
			<a href="/2021/07/31/testing-with-screen-readers/">Testing with screen readers</a>
		</li>
		<li>
			<a href="/sounds-like/">Sounds like (HTML samples and screen reader output)</a>
		</li>
		<li>
			<a href="/html-for-ia/">HTML for IA</a>
		</li>
	</ul>

	<ul>
		<li>
			<h3>UX</h3>
		</li>
		<li>
			<a href="/2017/09/18/ucd-process/">My UCD process</a>
		</li>
		<li>
			<a href="/form-and-error-guidelines/">Form and error guidelines</a>
		</li>
		<li>
			<a href="/2017/09/07/talking-to-people-thoughts-on-usability-testing/">Usability testing</a>
		</li>
		<li>
			<a href="/2018/10/22/usability-testing-facilitation-dos-and-donts/">Facilitation Do's and Don'ts</a>
		</li>
		<li>
			<a href="/2017/10/12/ux-personas/">UX personas</a>
		</li>
	</ul>

	<ul>
		<li>
			<h3>Resources</h3>
		</li>
		<li>
			<a href="/writing-workshops-and-talks/">Writing, Workshops, and Talks</a>
			<ul>
				<li>
					<a href="/writing-workshops-and-talks-big-picture/">Big picture ideas</a>
				</li>
				<li>
					<a href="/feedback/">Giving and receiving feedback</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="/yeah-but/">"Yeah, but"</a>
		</li>
		<li>
			<a href="/tools/">Tools (Printables)</a>
		</li>
	</ul>
	{% endif %}
</footer>

<script>
	if (navigator.serviceWorker) {
		navigator.serviceWorker.register("/serviceworker.js")
			.then(() => {
				console.log("Service Worker registered.");
			})
			.catch(err => {
				console.log("Service worked registration failed with " + err);
			})
		if (navigator.serviceWorker.controller) {
			window.addEventListener('load', () => {
				navigator.serviceWorker.controller.postMessage('clean up caches');
			});
		}
	}
</script>

</body>

</html>