<footer id="footer">
	<h2 class="visuallyhidden">Footer</h2>
	{% if page.url != '/offline/' %}
	<ul>
		<li>
			<h3>Articles</h3>
		</li>
		<li>
			<a href="{{ site.posts[0].url }}">{{ site.posts[0].title }}</a>
		</li>
		<li>
			<a href="{{ site.posts[1].url }}">{{ site.posts[1].title }}</a>
		</li>
		<li>
			<a href="{{ site.posts[2].url }}">{{ site.posts[2].title }}</a>
		</li>
		<li>
			<a href="/archive/">Article archive (recent)</a>
		</li>
		<li>
			<a href="/archive-by-year/">Article archive (by year)</a>
		</li>
		<li>
			<a href="/archive-all/">Article archive (all)</a>
		</li>
	</ul>

	<ul>
		<li>
			<h3>Accessible Design</h3>
		</li>
		<li>
			<a href="/2022/01/24/qac-for-design/">Quick A11y Checks for Design</a>
		</li>
		<li>
			<a href="/2022/01/24/accessibility-design-review-process/">Accessibility Design Review process</a>
		</li>
		<li>
			<a href="/html-for-ia/">HTML for IA</a>
		</li>
	</ul>

	<ul>
		<li>
			<h3>Accessible Development</h3>
		</li>
		<li>
			<a href="/2021/12/13/qac/">Quick A11y Checks (QAC! 🦆)</a>
		</li>
		<li>
			<a href="/2024/06/16/accessibility-audit-process/">Accessibility audit process</a>
		</li>
		<li>
			<a href="/2022/05/31/accessibility-audit-process-mobile/">Accessibility audit process for mobile</a>
		</li>
		<li>
			<a href="/2023/06/22/accessible-engineering-scorecard/">Accessibility Engineering scorecard</a>
		</li>
		<li>
			<a href="/2022/02/04/accessibility-resources/">Accessibility resources</a>
		</li>
	</ul>

	<ul>
		<li>
			<h3>Resources</h3>
		</li>
		<li>
			<a href="/writing-workshops-and-talks/">Writing, Workshops, and Talks</a>
		</li>
		<li>
			<a href="/teaching-and-learning/">Teaching and learning</a>
		</li>
		<li>
			<a href="/change-and-motivation/">Change and motivation</a>
		</li>
		<li>
			<a href="/persuasion/">Persuasion</a>
		</li>
		<li>
			<a href="/feedback/">Giving and receiving feedback</a>
		</li>
		<li>
			<a href="/call-for-speakers-template/">Call for speakers template</a>
		</li>
		<li>
			<a href="/show-your-work-template/">Show Your Work template</a>
		</li>
	</ul>
	{% endif %}
</footer>

</body>

</html>
