<!DOCTYPE html>
<html lang="en-ZA">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>{{ page.title }} | Naga</title>
    <link rel='stylesheet' id='theme-styles-css'  href='/css/style.css?ver=1.1.1' type='text/css' media='all' />
    <link rel="canonical" href="/" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-24142825-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag('js', new Date());

    gtag('config', 'UA-24142825-1');
    </script>
    <script>
    (function(d) {
    var config = {
        kitId: 'gmm5agt',
        scriptTimeout: 3000,
        async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
</script>
</head>

<body>

    <a href="#content" class="visuallyhidden focusable">Skip to content</a>

    <nav id="main-menu">
        <h1><a href="/" rel="home"><img src="/img/logo.jpg" alt="" /><span class="visuallyhidden">Naga</span></a></h1>
        <h2 class="visuallyhidden">Main Navigation</h2>
        <ul>
        <li><a href="/">Home</a></li>
        <li{% if page.url == "/about/" %} class="active"{% endif %}><a href="/about/">About</a></li>
        <li{% if page.url == "/community/" %} class="active"{% endif %}><a href="/community/">Community</a></li>
        </ul>
    </nav>
