<!DOCTYPE html>
<html lang="en-ZA">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">{% if page.url == "/" %}
    <meta name="google-site-verification" content="GLZVZzwXVt2__0Gg8DwF2263SEx-sgEMjPwI7q0t92Y" />{% endif %}
    <link rel="profile" href="http://gmpg.org/xfn/11">
    <title>{{ page.title }} — Naga</title>

    <link rel="stylesheet" id="theme-styles-css" href="/css/style.css?ver={{ site.css-version }}" type="text/css" media="all" />
    {% if page.layout == "sounds-like" %}
    <link rel="stylesheet" href="/css/highlight.css" />
    {% elsif page.includesyntaxhighlight == true %}
    <link rel="stylesheet" href="/css/highlight.css" />
    {% endif %}
    <link rel="canonical" href="https://naga.co.za{{ page.url }}" />
    <link rel="manifest" href="/manifest.json" />
    <meta name="theme-color" content="#700" />

    {% comment %}Facebook and Open Graph{% endcomment %}
    <meta property="og:locale" content="en_ZA">
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://naga.co.za{{ page.url }}" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:image" content="https://naga.co.za{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}">
    {% comment %} Use a 1200 x 1200 (630) (will get top and bottom cropped){% endcomment %}
    <meta property="og:site_name" content="{{ site.title }}">
    {% if page.date %}
    <meta property="article:modified_time" content="{% if page.last_modified_at %}{{ page.last_modified_at | date_to_xmlschema }}{% else %}{{ page.date | date_to_xmlschema }}{% endif %}">
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema }}">
    {% endif %}

    {% comment %}Twitter Cards{% endcomment %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ site.twitter_username }}">
    <meta name="twitter:domain" value="naga.co.za" />
    <meta name="twitter:title" value="{{ page.title }}" />
    <meta name="twitter:description" value="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="twitter:image" content="https://naga.co.za{% if page.image %}{{ page.image }}{% else %}{{ site.image }}{% endif %}">

    {% unless site.url contains "localhost" %}<script async src="https://www.googletagmanager.com/gtag/js?id=UA-24142825-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments)};
    gtag("js", new Date());

    gtag("config", "UA-24142825-1");
    </script>
    {% endunless %}

    <script>
    (function(d) {
    var config = {
        kitId: "xhx4zrp",
        scriptTimeout: 3000,
        async: true
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src="https://use.typekit.net/"+config.kitId+".js";tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
    })(document);
</script>
</head>

<body>

    <a href="#content" class="visuallyhidden focusable">Skip to content</a>

    <nav class="nav" id="main-menu" aria-label="Main">
        {% if page.url=="/" %}<h1>{% endif %}
            <a href="/" rel="home">
                <img src="/img/logo-50.png" alt="Naga" />
            </a>
        {% if page.url=="/" %}</h1>{% endif %}
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li{% if page.url=="/about/" %} aria-current="page" {% endif %}>
                <a href="/about/">About</a>
            </li>
            <li{% if page.url=="/community/" %} aria-current="page" {% endif %}>
                <a href="/community/">Community</a>
            </li>
            <li{% if page.url=="/more-accessible-products/" %} aria-current="page" {% endif %}>
                <a href="/more-accessible-products/">MAP</a>
            </li>
        </ul>
    </nav>
