// $light-blue: #2c6d68;
// $dark-blue: #08293f;
// $red: #933446;
// $orange: #a04e40;
// $grey: #ddd;
//
// $light-blue: #378181;
// $dark-blue: #023a55;
// $red: #a74959;
// $orange: #ae6451;
// $grey: #ddd;

$light-blue: #378181;
$dark-blue: #023a55;
$red: #6B0000;
// $orange: #ae6451;
$grey: #ddd;
