img {
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
  border-radius: 0.2em;
}

main,
.nav {
  // Preferred measure: 22-38em
  padding-left: 1em;
  padding-right: 1em;

  @media (min-width: $bp-s) {
    padding-left: $margin-s;
    padding-right: $margin-s;
  }

  @media (min-width: $bp-m) {
    padding-left: $margin-m;
    padding-right: $margin-m;
  }

  @media (min-width: $bp-l) {
    padding-left: $margin-l;
    padding-right: $margin-l;
  }

  @media (min-width: $bp-xl) {
    padding-left: $margin-xl;
    padding-right: $margin-xl;
  }
}

footer {
  padding-left: 1em;
  padding-right: 1em;
}

main,
section {
  margin-bottom: 4em;
}

.post-meta {
  margin-bottom: 1em;
  text-transform: uppercase;
}

.pull-left {
  img {
    margin: 0 auto;
    display: block;
  }

  @media (min-width: $bp-m) {
    float: left;
    margin: 0 1em 1em 0;
  }
}

.pull-right {
  img {
    margin: 0 auto;
    display: block;
  }

  @media (min-width: $bp-m) {
    float: right;
    margin: 0 0 1em 1em;
  }
}

.boxed {
  border: 3px solid $darkred;
}

.half {
  max-width: 50%;
}

.pop-left {
  @media (min-width: $bp-m) {
    margin-left: -$margin-m;
  }

  @media (min-width: $bp-l) {
    margin-left: -$margin-l;
  }

  @media (min-width: $bp-xl) {
    margin-left: -$margin-xl;
  }
}

.pop-right {
  @media (min-width: $bp-m) {
    margin-right: -$margin-m;
  }

  @media (min-width: $bp-l) {
    margin-right: -$margin-l;
  }

  @media (min-width: $bp-xl) {
    margin-right: -$margin-xl;
  }
}

.entry-slides {
  .pull-left {
    clear: left;
  }

  hr {
    border-color: transparent;
    clear: left;
  }
}

.linked-thumbs {
  display: flex;
  flex-wrap: wrap;
  a {
    margin: 0 0.5em 0.5em 0;
  }
  img {
    border: 3px solid $darkred;
  }
}

details {
  margin-bottom: 1em;
}
