$bp-s: "38em";
$bp-m: "50em";
$bp-l: "64em";
$bp-xl: "80em";

$margin-s: 10%;
$margin-m: 15%;
$margin-l: 20%;
$margin-xl: 25%;

@import "mixins";

@import "colours";
@import "typography";
@import "nav";
@import "layout";
