nav {
  padding: 0.5em 0;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 3px $grey;
  ul {
    margin: 0;
    list-style: none;
  }
  li {
    display: inline-block;
    margin-right: 1em;
  }
  .active {
    a {
        color: #222;
        text-decoration: none;
        &:hover, &:active {
          color: lighten($red, 20%);
          text-decoration: underline;
        }
    }
  }
}

footer {
  clear: both;
  background-color: $red;
  color: white;
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h1, h2, h3, h4 {
    margin-bottom: 0.5em;
  }

  a {
    &:link, &:visited {
      color: white;
    }
  }

  a {
    &:hover, &:active {
      color: darken(white, 30%);
    }
    &:focus {
      outline: solid 3px darken(white, 30%);
    }
  }

  ul {
    list-style: none;
    margin-left: 0;
    flex: 1 0 14em;
    ul {
      margin-top: 0.5em;
      margin-left: 1em;
    }
  }

  li {
    margin-bottom: 0.5em;
  }

}
