.nav {
  padding: 0.5em 0;
  margin-bottom: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;

  ul {
    margin: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    margin-right: 1em;
  }

  [aria-current="page"] {
    a {
      color: #222;

      @media (prefers-color-scheme: dark) {
        color: $white;
      }

      text-decoration: none;

      &:hover,
      &:active {
        color: lighten($red, 20%);

        @media (prefers-color-scheme: dark) {
          color: darken($white, 20%);
        }

        text-decoration: underline;
      }
    }
  }

  h1 {
    margin-right: 0.25em;
  }

  img {
    border-radius: 0.1em 0.1em 0 0.1em;
  }
}

footer,
.nav {
  background-color: $red;
  @media (prefers-color-scheme: dark) {
    background-color: #fbefef;
  }

  color: white;

  a {
    &:link,
    &:visited {
      color: white;
      @media (prefers-color-scheme: dark) {
        color: #500;
      }
    }
  }

  a {
    &:hover,
    &:active {
      color: #fbefef;
      @media (prefers-color-scheme: dark) {
        color: #800;
      }
      text-decoration: none;
    }

    &:focus {
      outline: solid 2px white;
      outline-offset: 0.1em;
      @media (prefers-color-scheme: dark) {
        outline-color: #500;
      }
    }
  }
}

footer {
  clear: both;

  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  h1,
  h2,
  h3,
  h4 {
    margin-bottom: 0.5em;
  }

  ul {
    list-style: none;
    margin: 0.5em;
    flex: 1 0 14em;

    ul {
      margin-top: 0.5em;
      margin-left: 1em;
    }
  }

  li {
    margin-bottom: 0.5em;
  }
}

.a11y-webring-club {
  ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  } 

  li {
    margin-right: 1rem;
  }
}