body {
  font-family: sans-serif;
  line-height: 1.25;
  font-size: 125%;
  font-variant-numeric: oldstyle-nums lining-nums;
}

.wf-active {
  body {
    font-family: "pt-sans-1","pt-sans-2", sans-serif;
  }
}

h1, h2, h3, h4 {
  margin-top: 0;
  font-weight: normal;
  clear: both;
  // font-variant-ligatures: discretionary-ligatures historical-ligatures;
  &:target {
    &:before {
        content: "→";
        margin-right: 0.25em;
    }
  }
}

strong {
  &:target {
    &:before {
        content: "→";
        margin-right: 0.25em;
    }
  }
}

h1 {
  margin-bottom: 0;
}

h2, h3, h4 {
  margin-bottom: 0.5em;
}

// hierarchy

h2 {
    // text-transform: uppercase;
}

h3 {
  // font-weight: bold;
}

h4 {

}

main {
  hyphens: auto;
  hyphenate-limit-lines: 2;
  hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-zone: 8%;
  hyphenate-limit-last: always;
}

// http://typecast.com/blog/a-more-modern-scale-for-web-typography

body, caption, th, td, input, textarea, select, option, legend, fieldset, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

@media (min-width: 43.75em) {
  html {
    line-height: 1.375;
  }
}

h1 {
  font-size: 2em;
  @media (min-width: 43.75em) {
      font-size: 2.5em;
      line-height: 1.125;
  }
  @media (min-width: 56.25em) {
      font-size: 3em;
      line-height: 1.05;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615;
  @media (min-width: 43.75em) {
      font-size: 2em;
      line-height: 1.25;
  }
  @media (min-width: 56.25em) {
      font-size: 2.25em;
      line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;
  @media (min-width: 43.75em) {
      font-size: 1.5em;
      line-height: 1.25;
  }
  @media (min-width: 56.25em) {
      font-size: 1.75em;
      line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;
  @media (min-width: 43.75em) {
      line-height: 1.22222222;
  }
}

blockquote {
  margin-right: 0;
  // font-style: italic;
  font-size: 0.95em;
}

.quoted {
  p {
    quotes: '“' '”' '‘’' '’';
    &:before {
      content: open-quote;
      margin-left: -0.9ch;
    }
    &:after {
      content: close-quote;
    }
  }
}

.lede,
.entry-content-post > p:first-of-type {
    font-size: 1.125em;
    line-height: 1.11111111;
    @media (min-width: 43.75em) {
        font-size: 1.375em;
        line-height: 1.13636364;
    }
    // &:first-line {
    //   font-variant: small-caps;
    // }
    // initial-letter: 3;
}

a {
  &:link, &:visited {
    color: $red;
  }
}

a {
  &:hover, &:active {
    color: lighten($red, 20%);
  }
  &:focus {
    outline: solid 3px $red;
  }
}

p {
  margin-top: 0;
  margin-bottom: 1em; // <= 1em, about half line-height
}

ul, ol {
  padding: 0;
  margin-top: 0.75em;
  ul, ol {
    margin-top: 0;
    margin-left: 1em;
  }
}

ol {
  margin-left: 0;
}

.outdent {
  list-style: none;
  margin-left: 0.75em;
  text-indent: -0.75em;
}

.entry-title,
.entry-title-page {
  margin-bottom: 0.25em;
}

.text-center {
  text-align: center;
}

abbr {
  font-variant-caps: all-small-caps;
}

sub {
  @supports (font-variant-position: sub) {
    vertical-align: inherit;
    font-size: inherit;
    font-feature-settings: normal;
    font-variant-position: sub;
  }
}

sup {
  @supports (font-variant-position: super) {
    vertical-align: inherit;
    font-size: inherit;
    font-feature-settings: normal;
    font-variant-position: super;
  }
}
