html {
  @media (prefers-color-scheme: dark) {
    color: $white;
    background-color: $darkred;
  }
}

body {
  font-family: sans-serif;
  line-height: 1.25;
  font-size: 125%;
  font-variant-numeric: oldstyle-nums lining-nums;
}

.wf-active {
  body {
    font-family: pt-sans, sans-serif;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: pt-serif, serif;
    font-weight: 700;
  }
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
  font-weight: normal;
  clear: both;

  // font-variant-ligatures: discretionary-ligatures historical-ligatures;
  &:target {
    &:before {
      content: "→";
      margin-right: 0.25em;
    }
  }
}

strong,
p,
li {
  &:target {
    &:before {
      content: "→";
      margin-right: 0.25em;
    }
  }
}

h1 {
  margin-bottom: 0;
}

h2,
h3,
h4 {
  margin-bottom: 0.5em;
}

// hierarchy
// h4 {
//   text-transform: uppercase;
// }

.entry-content p:not(:first-of-type) {
  hyphens: auto;
  hyphenate-limit-lines: 2;
  hyphenate-limit-chars: 6 3 2;
  hyphenate-limit-zone: 8%;
  hyphenate-limit-last: always;
}

// http://typecast.com/blog/a-more-modern-scale-for-web-typography

body,
caption,
th,
td,
input,
textarea,
select,
option,
legend,
fieldset,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size-adjust: 0.5;
}

@media (min-width: 43.75em) {
  html {
    line-height: 1.375;
  }
}

// h1 {
//   font-size: 2em;

//   @media (min-width: 43.75em) {
//     font-size: 2.5em;
//     line-height: 1.125;
//   }

//   @media (min-width: 56.25em) {
//     font-size: 3em;
//     line-height: 1.05;
//   }
// }

h1 {
  font-size: 1.625em;
  line-height: 1.15384615;

  @media (min-width: 43.75em) {
    font-size: 2em;
    // line-height: 1.25;
  }

  @media (min-width: 56.25em) {
    font-size: 2.25em;
    // line-height: 1.25;
  }
}

h2 {
  font-size: 1.375em;
  line-height: 1.13636364;

  @media (min-width: 43.75em) {
    font-size: 1.5em;
    // line-height: 1.25;
  }

  @media (min-width: 56.25em) {
    font-size: 1.75em;
    // line-height: 1.25;
  }
}

h3 {
  font-size: 1.125em;
  line-height: 1.11111111;

  @media (min-width: 43.75em) {
    line-height: 1.22222222;
  }
}

blockquote {
  margin-right: 0;
  // font-style: italic;
  font-size: 0.95em;
}

.quoted {
  p {
    quotes: "“" "”" "‘’" "’";

    &:before {
      content: open-quote;
      margin-left: -0.9ch;
    }

    &:after {
      content: close-quote;
    }
  }
}

.lede,
.entry-content-post > p:first-of-type {
  font-size: 1.125em;
  line-height: 1.11111111;

  @media (min-width: 43.75em) {
    font-size: 1.375em;
    line-height: 1.13636364;
  }

  // &:first-line {
  //   font-variant: small-caps;
  // }
  // initial-letter: 3;
}

a {
  &:link,
  &:visited {
    color: $red;

    @media (prefers-color-scheme: dark) {
      color: $white;
    }
  }
}

a {
  &:hover,
  &:active {
    color: lighten($red, 20%);

    @media (prefers-color-scheme: dark) {
      color: darken($white, 20%);
    }
  }

  &:focus {
    outline: solid 3px $red;

    @media (prefers-color-scheme: dark) {
      outline: solid 3px $white;
    }
  }
}

p {
  margin-top: 0;
  margin-bottom: 1em; // <= 1em, about half line-height
}

ul,
ol {
  padding: 0;
  margin-top: 0.75em;

  ul,
  ol {
    margin-top: 0;
    margin-left: 1em;
  }
}

details {
  ul,
  ol {
    padding-left: 2em;
  }
}

ol {
  margin-left: 0;
}

.outdent {
  list-style: none;
  margin-left: 0.75em;
  text-indent: -0.75em;
}

.entry-title,
.entry-title-page {
  margin-bottom: 0.25em;
}

.text-center {
  text-align: center;
}

abbr {
  font-variant-caps: all-small-caps;
}

sub {
  @supports (font-variant-position: sub) {
    vertical-align: inherit;
    font-size: inherit;
    font-feature-settings: normal;
    font-variant-position: sub;
  }
}

sup {
  @supports (font-variant-position: super) {
    vertical-align: inherit;
    font-size: inherit;
    font-feature-settings: normal;
    font-variant-position: super;
  }
}

table {
  margin-bottom: 1em;
}

caption {
  margin-bottom: 1em;
}

tr {
  border-top: 1px solid $grey;
  &:first-of-type {
    border-top: none;
  }
}

td,
th {
  padding: 0.5em;
  line-height: 1;
}

th {
  text-align: left;
}

.code-sample {
  margin-bottom: 1em;
  [type="radio"] {
    margin-left: 1em;
  }
}

.highlight {
  margin-right: 0;
  margin-left: 0;
  pre {
    padding: 0.5em 0;
  }
}

.sounds-like-header {
  font-size: 1em;
}

.sounds-like {
  font-family: "Courier New", Courier, monospace;
  background-color: #333;
  color: #fff;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  p {
    margin-bottom: 0;
  }
  margin-bottom: 1em;
  outline: solid 1px #fff;
}

.label-fancy {
  display: inline-block;
  padding: 0.5em;
  margin: 0.5em 0.25em;
  border: solid 1px #ccc;
  border-radius: 0.25em;
}

:checked + .label-fancy {
  background-color: #ccc;
  border-color: #333;
  font-weight: bold;
}

legend {
  margin-bottom: 1em;
}

input:invalid,
input.has-error {
  border: solid 3px #c00;
  border-radius: 0.15em;
}

input:focus {
  outline: solid 3px #fb5;
}

.error-message {
  margin-top: 0.5em;
  padding: 0.15em;
  border: solid 3px #c00;
  background-color: #ffdada;
}

code.attr {
  color: #007070;
}

code.el {
  color: #000080;
}

kbd {
  padding: 0 0.25em;
  background: #eee;
  border: solid 1px #999;
  border-radius: 0.15em;
  box-shadow: 1px 1px 1px #333;
  @media (prefers-color-scheme: dark) {
    background: transparent;
    box-shadow: 1px 1px 1px #fff;
  }
}

summary {
  padding: 0.25em 0.5em;
  &:focus {
    outline: solid 3px $red;
    outline-offset: -0.3em;
  }
}

details {
  border: solid 2px $darkred;
  border-radius: 0.5em;
  &[open] {
    summary {
      border-bottom: solid 2px $red;
    }
  }
}

.map-context {
  font-size: 0.5em;
}

.map-section {
  padding-top: 0.25em;
  border-top: 3px solid #700;
}

.map-action-section {
  padding-left: 1em;
}

.map-idea-section {
  border-top: 1px solid #700;
  padding-top: 1em;
  border-bottom: 1px solid #700;
  margin-bottom: 1em;
}

img.highlight {
  border: 2px dashed $red;
}

a:hover {
  img.highlight {
    border-color: lighten($red, 20%);;
  }
}

blockquote {
  margin-left: 0;
  padding-left: 1em;
  border-left: solid 3px #aaa;
}

.portfolio h2 {
  padding-top: 0.25em;
  border-top: 3px solid #700;
}
