{% include header.html %}

<main id="content" tabindex="-1">
  <article class="hentry">
    <header>
      <h1 class="entry-title">
        <a
          href="{{ post.url }}"
          title="Permalink to {{ page.title }}"
          rel="bookmark"
          >{{ page.title }}</a
        >
      </h1>

      <div class="post-meta">
        <time class="entry-date updated" datetime="{{ page.date }}" pubdate
          >{{ page.date | date: "%B %d, %Y" }}</time
        >
        By Steve Barnett
      </div>
    </header>

    <div class="entry-content">{{ content }}</div>
  </article>
</main>

{% include footer.html %}
