{% include header.html %}

<main id="content" tabindex="-1" aria-label="Main content">
    <article class="hentry">
    	<header>
    		<h2 class="entry-title"><a href="{{ post.url }}" title="Permalink to {{ page.title }}" rel="bookmark">{{ page.title }}</a></h2>

    		<div class="post-meta">
    			<time class="entry-date updated" datetime="{{ page.date }}" pubdate>{{ page.date | date: "%B %d, %Y" }}</time> By Steve Barnett
    		</div>
    	</header>

    	<div class="entry-content">
    		{{ content }}
    	</div>

    </article>
</main>

{% include footer.html %}
