{% include header.html %}

<main id="content">
  <article class="hentry">
    <header>
      <h1 class="entry-title entry-title-page">
        <div class="uag-context">Idea {{ page.number }}:</div>
        {{ page.title }}
      </h1>
    </header>

    <div class="entry-content">
      {% if page.why %}
      <p>
          <strong>Why is this important?</strong><br>
        {{ page.why }}
      </p>
      {% endif %}

      {% assign actions = site.untitled-a11y-guide-actions | where: "idea", page.title | sort: "order" %}
      {%- for action in actions -%}
      <h2 id="{{ action.title | slugify }}">{{ action.title }}</h2>

      {{ action.content }}
      {%- endfor -%}
    </div>
  </article>
</main>

{% include footer.html %}
