{% include header.html %}

<main id="content">
  <article class="hentry">
    <header>
      <h1 class="entry-title entry-title-page">
        <div class="uag-context">Chapter {{ page.number }}:</div>
        {{ page.title }}
      </h1>
    </header>

    <div class="entry-content">
      {% if page.why %}
      <p>
          <strong>Why is this important?</strong><br>
        {{ page.why }}
      </p>
      {% endif %}

      {% assign sections = site.untitled-a11y-guide | where: "chapter", page.title | sort: "order" %}
      {%- for section in sections -%}
      <h2 id="{{ section.title | slugify }}">{{ section.title }}</h2>

      {{ section.content }}
      {%- endfor -%}
    </div>
  </article>
</main>

{% include footer.html %}
